.menu{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: brown;
}

.menu ul{
    display: flex;
    gap: 1rem;
}

.menu .btn,
.menu a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.menu .btn:hover,
.menu a:hover{
    color: greenyellow;
    transition: 0.5s;
}
 

.menu .activeLink{
    color: greenyellow;
}