.AllDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.AllDetailsInner {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  gap: 2rem;
}

.AllDetailsLeft {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

@media screen and (max-width: 400px) {
    .AllDetailsLeft {
        align-items: center;
        flex-direction: column;
    }

    .AllDetailsLeft ul{
        padding: 0rem 1rem;
    }
}
