#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem; 
}

ul {
  list-style: none; 
  padding: 0;  
  margin: 0; 
}
 
h3{
  color: #1af116;
  padding: 0;
  margin: 0;
}

main{
  padding: 2rem;
}
 

 



 