#root {
  width: 100%;
  margin: 0 auto;
  padding: 0rem; 
}

ul {
  list-style: none; 
  padding: 0;  
  margin: 0; 
}
 
h3{
  color: #1af116;
  padding: 0;
  margin: 0;
}

main{
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

main .inner-main{
  max-width: 1200px;
}
 


 



 